server:
  port: 8084

spring:
  application:
    name: worker
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

logging:
  level:
    org.springframework.amqp: INFO
