server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: auth
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**, /health
        - id: order
          uri: http://localhost:8082
          predicates:
            - Path=/api/order/**
        - id: chat
          uri: http://localhost:8083
          predicates:
            - Path=/api/chat/**
        - id: chat-ws
          uri: http://localhost:8083
          predicates:
            - Path=/ws/chat/**
        - id: worker
          uri: http://localhost:8084
          predicates:
            - Path=/api/worker/**

  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:keys/public.pem

management:
  endpoints:
    web:
      exposure:
        include: health,info
